
<%  low= [] %>
<%  middle= [] %>
<%  high= [] %>

<h1 class="page-heading"><%= current_user.name %>'s Food Journal<%= image_tag "journal.png", :width => 120, :height => 120 %></h1>

<h2 id="date"><%= Time.now.strftime("%A, %B %e, %Y") %></h2>

<div id="main-container" class="container">
  <div class="row">
    <div id="content" class="col-xs-9">
    <section id="add-food-title">
    <%= link_to 'Add New Food', "/users/#{current_user.id}/entries/#{@entry.id}/foods/new", :class => 'food-link', remote: true %>
    </section>

    <div id="new-food" style="display:none;"></div>


    <section id="foods">
    <% current_user.foods.each do|food| %>
      <%= link_to food.name,"/users/#{current_user.id}/entries/#{@entry.id}/foods/#{food.id}", remote: true, :class => 'link' %>
      <div id="show-food-<%= food.id %>" style="display:none;"></div>
      <br>
      <br>
    <% end %>
    </section>
    </div>
  </div>
</div>

